* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--Primary);
  color: var(--Primary_light);
  font-family: 'Open+Sans', sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 1.5;
  min-height: 100vh; }

:root {
  --Primary: #eb2f64;
  --Primary_light: #FF3366;
  --Primary_dark: #BA265D;
  --Grey_light-1: #faf9f9;
  --Grey_light-2: #f4f2f2;
  --Grey_light-3: #f0eeee;
  --Grey_light-4: #ccc;
  --Grey_dark-1: #333;
  --Grey_dark-2: #777;
  --Grey_dark-3: #999; }

.container {
  margin: 7rem auto;
  background-color: var(--Grey_light-1);
  width: 80%;
  height: 90vh;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .container_header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container_header_logo {
      height: 5rem;
      width: 5rem;
      margin-left: 2rem; }
  .container_main {
    color: #fff;
    display: flex;
    height: 80vh; }
    .container_main--sidebar {
      background-color: var(--Grey_dark-1);
      flex: 0 0 20%; }
      .container_main--sidebar .side-nav {
        color: var(--Grey_light-4);
        list-style: none;
        margin-top: 4rem; }
        .container_main--sidebar .side-nav--item {
          margin-bottom: 0.5rem;
          position: relative; }
        .container_main--sidebar .side-nav--link:link, .container_main--sidebar .side-nav--link:visited {
          text-decoration: none;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          padding: 1rem 1.8rem;
          font-size: inherit;
          color: currentColor;
          z-index: 20; }
        .container_main--sidebar .side-nav--item::before {
          content: "";
          position: absolute;
          height: 100%;
          background-color: var(--Primary);
          width: 0.5rem;
          transform: scaleY(0);
          transition: transform 0.3s, width 0.4s 0.3s;
          z-index: 10; }
        .container_main--sidebar .side-nav--item:hover::before {
          transform: scaleY(1);
          width: 100%;
          cursor: pointer; }
        .container_main--sidebar .side-nav--icon {
          height: 2rem;
          width: 2rem;
          margin-right: 1.5rem;
          fill: currentColor; }
    .container_main--body {
      flex: 0 0 80%; }
      .container_main--body .gallary {
        display: flex; }
        .container_main--body .gallary-photo {
          width: 33.3%; }

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center; }
  .search_inpt {
    width: 90%;
    margin-right: -3.2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--Grey_light-2);
    border: transparent;
    transition: all 0.2s; }
    .search_inpt::-webkit-input-placeholder {
      font-size: inherit;
      font-weight: 300;
      color: var(--Grey_dark-3); }
    .search_inpt:focus {
      width: 100%;
      background-color: var(--Grey_light-3);
      border: none;
      outline: none; }
  .search_icon {
    border: none; }
    .search_icon--icon-small {
      height: 1.8rem;
      width: 1.8rem;
      fill: var(--Grey_dark-2); }

.header_notifications {
  display: flex;
  align-self: stretch;
  height: 100%; }
  .header_notifications > * {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.2s; }
    .header_notifications > *:hover {
      background-color: var(--Grey_light-3);
      cursor: pointer; }
  .header_notifications--icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--Grey_dark-1); }
  .header_notifications--user {
    display: flex;
    color: var(--Grey_dark-1); }
  .header_notifications--dp {
    border-radius: 50%;
    margin-right: 0.5rem;
    height: 5.5rem; }
  .header_notifications--notifications {
    display: flex;
    justify-content: space-between; }
    .header_notifications--notifications span {
      position: absolute;
      color: #fff;
      font-size: 1.4rem;
      height: 1.5rem;
      width: 1.5rem;
      background-color: red;
      border-radius: 50%;
      text-align: center;
      top: 1.5rem;
      left: 1.75rem; }
