.container {
  margin: 7rem auto;
  background-color: var(--Grey_light-1);
  width: 80%;
  height: 90vh;
  box-shadow: 0 1rem 2rem rgba(#000, 0.3);
  &_header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
      height: 5rem;
      width: 5rem;
      margin-left: 2rem;
    }
  }

  &_main {
    color: #fff;
    display: flex;
    height: 80vh;
    &--sidebar {
      background-color: var(--Grey_dark-1);
      flex: 0 0 20%;
      .side-nav {
        color: var(--Grey_light-4);
        list-style: none;
        margin-top: 4rem;
        &--item {
          margin-bottom: 0.5rem;
          position: relative;
        }
        &--link:link,
        &--link:visited {
          text-decoration: none;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          padding: 1rem 1.8rem;
          font-size: inherit;
          color: currentColor;
          z-index: 20;
        }
        &--item::before {
          content: "";
          position: absolute;
          height: 100%;
          background-color: var(--Primary);
          width: 0.5rem;
          transform: scaleY(0);
          transition: transform 0.3s, width 0.4s 0.3s;
          z-index: 10;
        }
        &--item:hover::before {
          transform: scaleY(1);
          width: 100%;
          cursor: pointer;
        }
        &--icon {
          height: 2rem;
          width: 2rem;
          margin-right: 1.5rem;
          fill: currentColor;
        }
      }
    }
    &--body {
      // background-color: red;

      flex: 0 0 80%;
      .gallary{
        display: flex;
        &-photo{
          width: 33.3%;
        }
      }
   

    }
  }
}
.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;

  &_inpt {
    width: 90%;
    margin-right: -3.2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--Grey_light-2);
    border: transparent;
    transition: all 0.2s;
    &::-webkit-input-placeholder {
      font-size: inherit;
      font-weight: 300;
      color: var(--Grey_dark-3);
    }
    &:focus {
      width: 100%;
      background-color: var(--Grey_light-3);
      border: none;
      outline: none;
    }
  }
  &_icon {
    border: none;
    &--icon-small {
      height: 1.8rem;
      width: 1.8rem;
      fill: var(--Grey_dark-2);
    }
  }
}
.header_notifications {
  display: flex;
  align-self: stretch;
  height: 100%;
  & > * {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.2s;
    &:hover {
      background-color: var(--Grey_light-3);
      cursor: pointer;
    }
  }
  &--icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--Grey_dark-1);
  }
  &--user {
    display: flex;
    color: var(--Grey_dark-1);
  }
  &--dp {
    border-radius: 50%;
    margin-right: 0.5rem;
    height: 5.5rem;
  }
  &--notifications {
    display: flex;
    justify-content: space-between;
    & span {
      position: absolute;
      color: #fff;
      font-size: 1.4rem;
      height: 1.5rem;
      width: 1.5rem;
      background-color: red;
      border-radius: 50%;
      text-align: center;
      top: 1.5rem;
      left: 1.75rem;
    }
  }
}
